@mixin desktop {
    @media (max-width: #{$large-device-width}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: #{$medium-device-width}) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: #{$small-device-width}) {
      @content;
    }
  }
  
  @mixin extra-small-mobile {
    @media (max-width: #{$extra-small-device-width}) {
      @content;
    }
  }


  @mixin pic{
    background-repeat: no-repeat;
    width: 100%;
    height: 522px;
  }
  