$menu-color:black;
$title-text-color: rgb(14, 13, 13);
$paragraph-text-color: rgb(98, 98, 98);
$title-size:40px;
$large-device-width: 1199px; // Large devices (desktops, less than 1200px)
$medium-device-width: 991px; // Medium devices (tablets, less than 992px)
$small-device-width: 767px; // Small devices (landscape phones, less than 768px)
$extra-small-device-width: 575px; // Extra small devices (portrait phones, less than 576px)
